.container {
    width: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}   

.cards{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    padding: 5px;
    width:200px;
    gap: 10px;
}
.card-name{
    text-align: center;
} 
.card-photo{
    width: 150px;
}